
.article-content {
  @apply break-words;
  word-break: break-word;
}

.article-content *:not(.plyr__tooltip) {
  @apply max-w-full;
}

.article-content li,
p {
  @apply !my-4
}

/* 文章标题链接样式 */
.article-title a {
  @apply text-foreground font-medium no-underline
}

/* 文章内容链接样式 */
.article-content a {
  @apply border-b-[1px] border-dotted border-primary no-underline transition-colors text-primary
}

/*表格*/
.article-content td {
  @apply text-content2-foreground text-sm
}

/*code 相关样式 */
.article-content code:not(pre code) {
  @apply whitespace-pre-wrap
}

.article-content pre code {
  @apply whitespace-pre md:whitespace-pre-wrap;
}


/*https://github.com/shikijs/shiki/issues/3*/
.line-numbers code {
  counter-increment: step 0;
  counter-reset: step;
}

.line-numbers code .line::before {
  color: hsl(var(--nextui-default-400));
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  margin-right: 1.5rem;
  text-align: right;
  width: 1rem;
}

.article-content figure {
  @apply my-4 !w-auto
}

iframe {
  @apply aspect-video !border-none rounded-lg h-auto w-full shadow-custom
}

blockquote {
  @apply !not-italic
}

figcaption {
  @apply !italic
}

/*Plyr 自定义样式*/
.plyr {
  --plyr-audio-border: none;
  --plyr-audio-control-color: hsl(var(--nextui-content4-foreground));
  --plyr-audio-controls-background: hsl(var(--nextui-content1));
  --plyr-color-main: hsl(var(--nextui-primary));
  --plyr-tooltip-arrow-size: 0;
  --plyr-tooltip-background: hsl(var(--nextui-content1));
  --plyr-tooltip-color: hsl(var(--nextui-content1-foreground));
  --plyr-tooltip-shadow: var(--shadow-custom);
}

/*YouTube 播放器视觉修复*/
iframe.vds-youtube[data-no-controls] {
  position: absolute;
}

/*代码主题跟随系统当前使用主题*/
html[class$="dark"] .shiki,
html[class$="dark"] .shiki span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
}