html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none !important;
  padding: 0;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  height: 100dvh;
  overflow: hidden;
  padding-left: env(safe-area-inset-left) !important;
  padding-right: env(safe-area-inset-right) !important;
}

/* 重置默认样式 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
  padding-left: env(safe-area-inset-left) !important;
  padding-right: env(safe-area-inset-right) !important;
}

.sidebar {
  padding-left: env(safe-area-inset-left) !important;
}

@media screen and (display-mode: standalone) {
  body {
    min-height: 100lvh;
  }

  .vlist-footer {
    height: calc(env(safe-area-inset-bottom) + 96px) !important;
  }
}
